.dropdown:hover .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
}

.dropdown:hover .wrapper .dropdown-content {
    float: left;
    transform-origin: top center;
    min-width: fit-content;
}